* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #44574E;
    padding: 1rem;
}

.main {
    background-color: #232C27;
    padding: 40px 0;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.content-wrapper button {
    background-color: rgb(58, 75, 58);
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side h2 {
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 2rem;
}

.play-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.play-buttons button {
    padding: 3rem 1rem;
    border-radius: 8px;
    font-size: 30px;
    margin: 6px;
    width: 200px;
}

.p-button:hover {
    transform:translateY(-5px);
    transition-duration: 0.5s;
}

.c-button {
    filter: grayscale(0.6);
}

.play-buttons img {
    margin: 0 auto 1rem auto;
}

.play-buttons .button-label {
    text-align: center;
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 500px;
    height: 100px;
    background-color: #44574E;
    padding: 1rem;
    margin: 0 auto;
    border: 20px;
    border-color: black;
}

.scoreboard .sb-item {
    margin-left: 2rem;
}

.wins h3 {
    color: yellow;
}

.losses h3 {
    color: red;
}

br {
    color: white;
}

.round-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.current-choice {
    border-width: medium;
    border-color: black;
    width: 200px;
    width: 500px;
}

.result-text {
    min-width: 5rem;
    min-height: 2rem;
}

.footer {
    padding: 20px;
    background-color: #000000;
}

.footer .git-name {
    display: none;
}
